/* header styles */

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: lightskyblue;
    position: sticky;
    top: 0; 
    z-index: 3;
}
nav a{
    text-decoration: none;
    text-transform: capitalize;
    margin: 20px;
    transition: all 0.3s linear;
    font-size: 18px;
}
nav a:hover{
    border-bottom: 3px solid white;
}
.text{
    text-decoration: none;
    background-color: aquamarine;
    padding: 12px;
    border-radius: 10px;
    margin-right: 40px;
}
header button{
    padding: 10px;
    border-radius: 5px;
    background-color: blueviolet;
    color: black;
    font-size: 15px;
}
header a:hover{
    background-color: lightblue;
    transition: all 1s linear;
}
/* home section */

section{
    min-height: 70vh;
}
#home{
    background: url(/assets/back\ 1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}
#home h3{
    color: white;
    margin-top: 10px;
    padding-top: 10px;
    font-size: 60px;
    text-shadow: 0px 1px 3px rgb(192, 173, 173), 
                 0px 2px 3px rgb(204, 189, 189),
                 0px 3px 3px rgb(224, 211, 211),
                 0px 4px 3px rgb(187, 179, 179), 
                 0px 5px 3px rgb(168, 160, 160),
                 0px 6px 3px rgb(240, 220, 220);
                 animation: animate 3s linear infinite;
}
@keyframes animate{
    form{
        transform: scale(0.7);
    }
    to{
        transform: scale(0.9);
    }
}
#home p{
    color: lightcoral;
    font-size: 25px;
}
#home input{
    padding: 10px;
    width: 50%;
    border: 3px solid gray;
    border-radius: 10px;
}
#home a{
    text-decoration: none;
    background-color: palegreen;
    padding: 12px;
     border-radius: 10px;
     margin-right: 40px;
}
#home a:hover{
    background-color: lightcoral;
    color: blue;
    transition: all 1s linear;
}
marquee{
    font-size: 30px;
}

/* about section */

#about .row{
    display: flex;
    gap: 90px;
}
#about img{
    height: 300px;
    width: 300px;
    border-radius: 10px;
}
#about p{
    font-size: 18px;
    letter-spacing: 1px;
    word-spacing: 5px;
    text-align: justify;
    line-height: 20px;
}
#about a{
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.3s linear;
    padding: 12px;
    margin-top: 90px;
    background-color: lightcoral;
    border-radius: 10px;
    font-size: 20px;
}
#about a:hover{
    background-color: lightskyblue;
    color: black;
    transition: all 1s linear;
}

/* product section */

#product .row{
    display: flex;
    gap: 30px;
    margin-top: 20px;
}
#product .col{
    height: 500px;
    background-color: lightpink;
    padding: 3px;
    border-radius: 10px;
    box-shadow: 10px 20px 40px gray;
    padding: 10px;
}
#product .col a{
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.3s linear;
    font-size: 18px;
    padding: 10px;
    margin-top: 50px;
    border-radius: 10px;
    background-color: lightslategray;
}
#product .col a:hover{
    background-color: lime;
    color: brown;
    transition: all 1s linear;
}
#product .col img{
    transition: all 1s linear;
    height: 200px;
    width: 300px;
}
 .col img:hover{
    transform: scale(0.9);
}

/* contact section */

#contact .row{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}
#contact img{
    height: 400px;
    width: 400px;
    border-radius: 10px;
    margin-top: 30px;
}
form{
    height: 300px;
    width: 300px;
    border: 3px solid red;
    padding: 20px;
    border-radius: 10px;
}
form label{
    display: block;
    font-size: 16px;
    font-style: italic;
}
form input,textarea{
    display: block;
    margin-top: 10px;
    width: 80%;
    border: 3px solid blue;
}
form button{
    background-color: lightcoral;
    font-size: 20px;
    border-radius: 3px;
}
form button:hover{
    background-color: aliceblue;
    color: black;
    transition: all 1s linear;
}
/* footer section */

footer{
    background-color: lightgreen;
    padding: 20px;
    text-align: center;
    font-size: 20px;
}